extends layout
block content
  h1= title
  P
    a(href="/") Nuevo producto
      div(class="table-responsive")
        table(class="table table-hover table-dark")
          tr
            th='Producto'
            th='Precio'
            th='Foto'
            each producto in products
              tr
                td=producto.title
                td=producto.price
                td
                  img(width="50" src=producto.thumbnail alt=producto.title)
    
  